<!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>About me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <header>

        <div class="name ">
            name
        </div>

        <div class="ava">
            <img src="https://api.sololearn.com/Uploads/Avatars/868188.jpg" alt="avatar" style=""/>
        </div>

    </header>
    <div class="content">
        <aside class="info ">
            <div class="box">
                <p class="title">
                    <i class="fa fa-info-circle"></i>Contact
                </p>


                <p class="padd-top">
                    <i class="fa fa-birthday-cake"></i>
                    birthday
                </p>

                <p>
                    <i class="fa fa-phone"></i>
                    phone
                </p>

                <p>
                    <i  class="fa fa-envelope"></i>
                    mail
                </p>

            </div>

</body>
</html>